<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{title}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="../public/vendor/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="../public/vendor/font-awesome/css/font-awesome.min.css">
    <!-- Fontastic Custom icon font-->
    <link rel="stylesheet" href="../public/css/fontastic.css">
    <!-- Google fonts - Poppins -->

    <!-- theme stylesheet-->
    <link rel="stylesheet" href="../public/css/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="../public/css/custom.css">

    <!-- Favicon-->
    <link rel="shortcut icon" href="../public/img/favicon.ico">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>


</head>

<body class="page">

    <div class="container" style="margin-top:50px">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-close">
                        <a href="checkBlance.hbs" class="btn btn-primary float-right">Start</a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Check Blance BloomDaily</h5>
                        <p class="card-text">Supper Tool MMO Service For Bloom</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-close">
                        <a href="checkCard.hbs" class="btn btn-primary float-right">Start</a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Check Card Number BloomDaily</h5>
                        <p class="card-text">Supper Tool MMO Service For Bloom</p>

                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="card">
                    <div class="card-close">
                        <a href="checkLoginSark.hbs" class="btn btn-primary float-right">Start</a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Check Login Sark</h5>
                        <p class="card-text">Supper Tool MMO Service For Sark</p>

                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="card">
                    <div class="card-close">
                        <a href="checkLoginBloom.hbs" class="btn btn-primary float-right">Start</a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Check Login Bloom</h5>
                        <p class="card-text">Supper Tool MMO Service For Bloom</p>

                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="card">
                    <div class="card-close">
                        <a href="checkRequest.hbs" class="btn btn-primary float-right">Start</a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Check Request</h5>
                        <p class="card-text">Supper Tool MMO Service</p>

                    </div>
                </div>
            </div>

        </div>
    </div>

</body>


<!-- Page Footer-->


<!-- JavaScript files-->

<script src="../public/vendor/popper.js/umd/popper.min.js"> </script>
<script src="../public/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="../public/vendor/jquery.cookie/jquery.cookie.js"> </script>
<script src="../public/vendor/jquery-validation/jquery.validate.min.js"></script>
<script src="../public/vendor/chart.js/Chart.min.js"></script>
<!-- Main File-->
<script src="../public/js/front.js"></script>

</html>